.title {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    
}

.btn {
    height: 38px;
    
}