
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.card {
    width: 90%;
    display: flex;
    gap: 10px;
    align-content: space-between;
    justify-content: space-between;
    padding: 10px;
}

.rightBtn {
   display: flex;
   gap: 10px;
}

.p {
    text-align: justify;
}