.wrapper {
    max-width: 767px;
    font-size: 16px;
    text-align: center;
    margin: 4rem auto
    
}

.h1 {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.image {
    max-height: 300px;
    max-width: 500px;
    object-fit: cover;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}